<!DOCTYPE>
<html lang="en">
<head>
  <meta charset="utf8"/>
  <link href='http://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css" media="screen" />  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TV TOURNEY</title>
</head>
<body ng-app='app' ng-controller='appController'>
  <div class="nav">
    <nav class="logOutNav" ng-controller='userController'>
      <button ng-click="home()" class="home left"><i class="fa fa-home left"></i></button>
      <button ng-show='userState' class="logOut" ng-click="logout()"><span class="space navText">Hi, {{returnUser().username}} </span><i class="fa fa-sign-out"></i></button>
    </nav>
  </div>
  <div class="mainContainer" ng-controller='userController'>
    <h1 ng-click="home()"><span class="accentColor">tv</span>TOURNEY</h1>
    <div ui-view></div>
  </div>
  
  <script src='lib/angular/angular.js'></script>
  <script src='lib/angular-ui-router/release/angular-ui-router.js'></script>

  <script src='app/config/routes.js'></script>
  <script src='app/leagues/new/eventCreationController.js'></script>
  <script src='app/leagues/show/showLeagueController.js'></script>
  <script src='app/leagues/list/listLeagueController.js'></script>
  <script src='app/leagues/new/setCharacterController.js'></script>
  <script src='app/leagues/new/inviteController.js'></script>
  <script src='app/leagues/new/newLeagueController.js'></script>
  <script src='app/leagues/draft/draftLeagueController.js'></script>
  <script src='app/leagues/leagueController.js'></script>
  <script src='app/user/userController.js'></script>
  <script src='app/config/routes.js'></script>
  <script src='app/main.js'></script>

</body>
</html>