server/node_modules/
server/logs/api.log
server/logs/exception.log
server/logs/express.log
server/db/db.sqlite
server/db/dbTest.sqlite
server/.DS_Store
client/lib/
client/node_modules/
npm-debug.log
.DS_Store
