<div ng-if="isOwner()">
  <h2 ng-click="toggleTool()">Owner panel
  </h2>
  <div ng-show="showTool">
  <form ng-submit="triggerEvent()">
    <h3> Characters </h3> 
    <select size="10" multiple ng-model="charSelection">
      <option value="$index" ng-repeat="character in characters">
        {{character.name}}
      </option>
    </select>
    <div> 
      <h3> Events 
      </h3>
    </div>
    <select size="10" multiple ng-model="eventSelection">
      <option ng-repeat="event in events">
        {{event.description}}    {{event.score_up}}
      </option>
    </select>
    <input type="submit" value="submit"/>
  </form>
  <br><br>
  </div>
</div>
<!-- {{rosterLength}}
  {{league.roster_limit}} -->
<button ng-show="rosterLength < league.roster_limit" ui-sref="leagues.draft({id:league.id})">DRAFT</button>
<div>
  Name: {{league.name}}
  {{test}}
</div>
<div>
  Show: {{league.show}}
</div>
<div>
  Owner: {{league.Owner.username}}
</div>
<div>
  Roster limit: {{league.roster_limit}}
</div>
<div ng-if="!isOwner()">
  <div>
    <h3 ng-click="toggleCharacters()">Characters</h3>
    <div ng-show="showCharacters">
      <div ng-repeat="character in characters">
        {{character.name}}
      </div>
    </div>
  </div>
  <div>
    <h3 ng-click="toggleEvents()">Events</h3>
    <div ng-show="showEvents"> 
      <div ng-repeat="event in events">
        {{event.description}}    {{event.score_up}}
      </div>
      <br>
    </div>
  </div>
</div>
<div>
  Users
</div>
<div ng-repeat="user in users">
  <span ng-click="showRoster($index, user.id)">{{user.username}}</span>
  {{user.user_leagues[0].current_score}}
  <div ng-show="$index == indexSelect">
    Roster:
    {{}}
  </div>
</div>
