<!-- <div ng-if="isOwner()"> -->
<div>
<!-- <button class="backToLeagues textLink" ng-click="go('/leagues/list')"><i class="fa fa-arrow-left"></i> Back to Leagues</button> -->
<div class="clearfix">
  <div  class="leagueInfo left">
    <h2 class="leagueName">
      {{league.name}}
    </h2>
    <div class="leagueShow">
     {{league.show}}
    </div>
    <div class="leagueOwner">
      owner: {{league.Owner.username}}
    </div>
    <div class="leagueLimit">
      roster limit: {{league.roster_limit}}
    </div>
  </div>
  <div class="draft right">
    <button class="action" ng-show="rosterLength < league.roster_limit" ui-sref="leagues.draft({id:league.id})">DRAFT</button>
  </div>
</div>
<div ng-if="!isOwner()">
  <div>
    <h3 ng-click="toggleCharacters()">Characters</h3>
    <div ng-show="showCharacters">
      <div ng-repeat="character in characters">
        {{character.name}}
      </div>
    </div>
  </div>
  <div>
    <h3 ng-click="toggleEvents()">Events</h3>
    <div ng-show="showEvents"> 
      <div class="characAndScore" ng-repeat="event in events">
        <span class="left">{{event.description}}</span>   <span class="right"> {{event.score_up}}</span>
      </div>
      <br>
    </div>
  </div>
</div>
<div class="usersDivide">
  users
</div>
<div ng-repeat="user in users" class="listView">
  <span class="left" ng-click="showRoster($index, user.id)"><i class="fa fa-caret-right space"></i>  {{user.username}}</span>
  <span class="points right"> {{userRosters[user.id].totalScore}} pts</span>
  <div class="roster" ng-show="$index == indexSelect">
    roster:
    <div>
      <div ng-show="user.roster.length == 0">
        No roster drafted by this user
      </div>
      <div class="characInRosters" ng-repeat='roster in userRosters[user.id]'>
        {{roster.league_character.name}} - {{roster.current_score}} pts
      </div>
    </div>
  </div>
</div>

  <button class="options" ng-click="toggleTool()">Event Panel</button>
  <div ng-show="showTool" class="clearfix">
    <form ng-submit="triggerEvent()">
      <span class="left twoCol">
        <h3> Characters </h3> 
        <select class="eventSelect " size="10" multiple ng-model="charSelection">
          <option value="$index" ng-click="setCharacter()" value="{{$index}}" ng-repeat="character in characters">
            {{character.name}}
          </option>
        </select>
      </span>
      <span class="left twoCol"> 
        <h3>Events</h3>
        <select class="eventSelect " size="10" multiple ng-model="eventSelection">
          <option ng-repeat="event in events" ng-click="setEvent()" >
            {{event.description}}    {{event.score_up}}
          </option>
        </select>
      </span>
      <button class="action" type="submit" value="submit">Submit Event</button>
    </form>

  </div>
</div>




