<div ng-if="isOwner()">
  <div><h2>Owner panel</h2></div>
  <h3> Characters </h3> </div>
  <div ng-repeat="character in characters">
    {{character.name}}
  </div>
  <div> <h3> Events </h3> </div>
  <div ng-repeat="event in events">
    {{event.description}}    {{event.score_up}}
  </div>
  <br><br>
</div>
<!-- {{rosterLength}}
  {{league.roster_limit}} -->
<button ng-show="rosterLength < league.roster_limit" ui-sref="leagues.draft({id:league.id})">DRAFT</button>
<div>
  Name: {{league.name}}
  {{test}}
</div>
<div>
  Show: {{league.show}}
</div>
<div>
  Owner: {{league.Owner.username}}
</div>
<div>
  Roster limit: {{league.roster_limit}}
</div>
<div ng-if="!isOwner()">
  <div>
    <h3 ng-click="toggleCharacters()">Characters</h3>
    <div ng-show="showCharacters">
      <div ng-repeat="character in characters">
        {{character.name}}
      </div>
    </div>
  </div>
  <div>
    <h3 ng-click="toggleEvents()">Events</h3>
    <div ng-show="showEvents"> 
      <div ng-repeat="event in events">
        {{event.description}}    {{event.score_up}}
      </div>
      <br>
    </div>
  </div>
</div>
<div>
  Users
</div>
<div ng-repeat="user in users">
  <span ng-click="showRoster($index, user.id)">{{user.username}}</span>
  {{user.user_leagues[0].current_score}}
  <div ng-show="$index == indexSelect">
    Roster:
    {{}}
  </div>
</div>
