
<div class="create-step-one" ng-show="step == 1" ng-controller="createLeagueCtrl">
  <form>
    League Name:
    <input id="name" label="leagueName" name="leagueName" type="text" ng-model="league.name" required/>
    TV Show:
    <input id="show" label="tvShow" name="tvShow" type="text" ng-model="league.show" required/>
    Week Day:
    <select label="weekDay" name="weekDay" ng-model="league.day">
      <option value="monday">Monday</option>
      <option value="tuesday">Tuesday</option>
      <option value="wednesday">Wednesday</option>
      <option value="thursday">Thursday</option>
      <option value="friday">Friday</option>
      <option value="friday">Saturday</option>
      <option value="friday">Sunday</option>
    </select>
    Show Time:
    <input id="time" label="showTime" name="showTime" type="text" ng-model="league.time" required/>
    Roster Size Limit:
    <input id="roster_limit" label="rosterLimit" name="rosterLimit" type="text" ng-model="league.roster_limit" required />
    <button id="next" ng-click="saveLeagueInfo()">next</button>
  </form>
</div>

<div class="create-step-two" ng-show="step == 2" ng-controller="setCharactersCtrl">
<!--   {{step}}
  League:
  {{league}}
  character:
  {{character}} -->

  <ul class="character">

    <li ng-repeat="character in characters">{{character}}</li>
  </ul>
  Add Character:
  <input id="add_character" label="addCharacter" name="addCharacter" type="text" ng-model="character.name"/>
  <button id ="add-character" ng-click="addCharacter()">add</button>
  <button id="previous">prev</button>
  <button id="next" ng-click="checkIfCharacters()">next</button>
</div>

<div class="createStepThree" ng-show="step == 3" ng-controller="eventCtrl">
  <div ng-show="events.length > 0"> EVENTS for {{league.name}}</div>
  <div ng-repeat="chosenEvent in events">
    <span> {{chosenEvent.description}} </span>
    <span> {{chosenEvent.score}} </span>
  </div>
    Add Event:
    <input id="event_name" ng-model="event.name" type="text" max-length="105"/>
    Event Score:
    <input id="event_score" ng-model="event.score" type="text"/>
    <button ng-click="makeEvent()">Add</button>
  <button ng-click="nextStep(2)" id="previous">prev</button>
  <button ng-click="nextStep(4)" id="next">next</button>
</div>

<div class="createStepFour" ng-show="step == 4" ng-controller="inviteFriendsCtrl">
  <form>
    <input ng-model="username" id="inviteFriends" name="inviteFriends" type="text"/>
    <button ng-click="inviteUser()">Add</button>
  </form>
  <button ng-click="nextStep(3)" id="previous">prev</button>
  <button id="next">save league &amp; invite</button>
  Invited users:
  <ul ng-repeat="user in invitedUsers">
  <li>{{user.username}}</li>
  </ul>

</div>

  